<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <h2>Function Calling</h2>
    <p><a href="/fn-calling">Function Calling Demo</a></p>

<!--
    <h2>Generate Images</h2>
    <p><a href="/generate-image">Generate Image (OpenAI)</a></p>
-->

    <h2>RAG</h2>
    <p><a href="/rag/web-qa">RAG from Web URLs</a></p>

</div>
</body>
</html>